.card-body {
  overflow-x: auto !important;
}
table {
  width: 100%;
}

table td {
  max-width: 300px !important;
}

table td p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
